<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebServiceVeterinariasSoap" maxReceivedMessageSize = "100000000">
                    <security mode="Transport" />
                </binding>
                <binding name="WebServiceVeterinariasSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44360/WebServiceVeterinarias.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebServiceVeterinariasSoap"
                contract="GestionVeterinarioServices.WebServiceVeterinariasSoap"
                name="WebServiceVeterinariasSoap" />
        </client>
    </system.serviceModel>
</configuration>